.post {
  margin: 10px 0;
  padding: 20px;
  background-color: var(--white);
  border-radius: 4px;
}

.post__header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.post__user-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.post__user-info {
  margin-left: 10px;
}

.post__user-name {
  font-size: 22px;
}

.post__date {
  font-size: 18px;
}

.post__id {
  font-size: 12px;
}

.post__message {
  font-size: 16px;
  margin-bottom: 10px;
}

.post__actions {
  border-top: 1px solid var(--white-smoke);
  padding: 10px;
}

input {
  color: var(--mariner);
  padding: 10px 20px;
  border: 1px solid var(--mariner);
  background-color: var(--white);
  cursor: pointer;
  font-size: 20px;
  border-radius: 4px;
  margin: 5px;
}
input:hover {
  background-color: var(--havelock-blue);
}

.comments {
  color: var(--mariner);
  padding: 10px 20px;
  border: 1px solid var(--mariner);
  background-color: var(--white);
  cursor: pointer;
  font-size: 20px;
  border-radius: 4px;
  margin: 5px;
}
