.coordinatesContainer {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 9%;
}

.coordinatesStartEnd {
  display: flex;
  justify-content: center;
  gap: 10%;
}

.buttonCriarPersonagem button {
  width: auto;
}
@media screen and (max-width: 1000px) {
  .coordinatesStartEnd {
    display: flex;
    flex-direction: column;
    gap: 10%;
  }
}
